.form-wrapper {
  background: rgba(193, 212, 247, 0.3); /* Fondo azul claro */
  padding: 20px;
  border-radius: 15px;
}

.form-container {
  background-color: #ffffff; /* Fondo blanco para el formulario */
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); /* Sombra */
  padding: 20px;
}

.form-container h2 {
  color: #2C539B;
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
}

.form-control {
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary {
  background-color: #6c757d;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.adoption-form {
  animation: slideInFromLeft 0.5s ease-out;
}
