.container-custom {
 
    background: rgba(193, 212, 247, 0.3); /* Fondo claro */
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
 .CardTitle{
  color: #2C539B; /* Color del título */
  font-size: 1.5rem;
 
 }